.footer {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    bottom: 0;
    position: fixed;


}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;

}

.footer_card {
    display: flex;
    gap: 0.5rem;
    color: white;
}

.footer_icon {
    font-size: 20px;
    color: white;

}

.footer_name {
    margin-left: 10px;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
}

.footer_my {
    display: flex;
    align-items: center;

}

.footer_social {
    display: flex;
    gap: 1rem;
}


@media screen and (min-width: 500px) {}

@media screen and (min-width: 701px) {
    .footer_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 100%;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    .footer_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 100%;

    }

    .footer_card {
        display: flex;
        gap: 0.5rem;
        font-size: 30;
    }
}